
<p>
  This is an app.
</p>

<form class="row g-3" action="/requests" method="POST" enctype="multipart/form-data">

  <div class="col-6">
    Haystack:
    <input type="file" name="haystackFile"/>
  </div>

  <div class="col-6">
    Needle:
    <input type="file" name="needleFile"/>
  </div>

  <div class="col-6">
    <input type="submit" class="btn btn-primary" value="Submit">
  </div>
  
</form>
