
<div class="mb-2">  
  Request: {{ .id }}
  <br>
  Found: {{ .found }}
</div>

<div class="">
  Needle:
  <img src="/static/{{ .id }}/needle.png"/>
  <br>
  <br>
  <img src="/static/{{ .id }}/result.png"/>
</div>
